@charset "utf-8";

body {
    background-color: #FF0045;
    margin: 0;
    padding: 0;
}

.grid-container {
    background-color: #00FFBA;
    width: 80vW;
    height: 100vh;
    
    margin-left: auto;
    margin-right: auto;
    
    box-shadow: 3px 0 10px black, -3px 0 10px black;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 350px 1px;
 
}

.grid-item:nth-child(even)  {
    background-color: #0203fd;
    

}
.grid-item:nth-child(odd)  {
    background-color: #0ecaf1;


        
}


