@charset "utf-8";
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

body {
    background-color: #ecf0f1;
}

header {
    display: flex;
    flex-flow: column;
    justify-content: center;

    width: 100vw;
    min-height: 40vh;

    padding: 20px;
    
    box-shadow: 0px 4px 4px #888;
}
header h1 {
    font-size: 64px;
    /* line-height: 200px; */
    font-weight: 100;
    text-transform: uppercase;
}

header button {
    width: 16vw;
    height: 8vw;

    border-radius: 15px;
    outline: none;

    font-size: 22px;
    font-weight: 200;
    transition: all .3s;
}
header button:hover {
    cursor: pointer;
    background-color: #ee5253;
    color: #fff;
}

.container {
    display: flex;
}

nav {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    height: 100vh;
    flex: 1;
}

ul {
    background-color: teal;
    height: 100%;
    display: flex;
    flex-flow: column;
    
}

ul li {
    border-bottom: 2px solid white;
    display: flex;
    height: 50px;
}

ul li a {
    color: #fff;
    font-size: 22px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;

}

ul li a:hover {
    background-color: #ee5253;
    font-weight: 700;
}

main {
    flex: 4;
}

.main-content {
    height: 400px;
    /* box-shadow: 0px 4px 4px #888; */

    display: flex;

}

.main-child {
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 42px;

}

.main-child h1 {
    font-weight: 100;
}




.main-content .a {
    background-image: url(../images/main/canada-lake.jpg);
}
.main-content .b {
    background-image: url(../images/main/stockholm-city.jpg);
    
}

footer {
    height: 250px;
    border-top: 2px solid #888;
    background-color: #800000;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around ;
    color: white;
}

footer p {
    font-size: 20px;
}

/*******************************

---------------special classes ------------

**********************************/

.highlighted {
    background-color: #ee5253;
    font-weight: 700;

}

.special {
    font-size: 77;
    color: red;
}
